<div id="<%= dom_id convert %>" class="scaffold_record">
  <p>
    <strong>Status:</strong>
    <%= convert.status %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= convert.message %>
  </p>

  <p>
    <%= link_to "Show this convert", convert %>
  </p>
</div>
