<p id="notice"><%= notice %></p>

<%= tag.div @need_to_reload.to_s, id: 'reload', hidden: false %>
<div hidden
     data-controller="reload"
     data-reload-url-value="/converts/status"
     data-reload-interval-value="1000"
     data-action="turbo:submit-end@document->reload#startReloading"></div>

<h1>New Convert</h1>
<div id="new_convert">
  <%= render 'form', convert: @convert %>
</div>

<h1>Converts</h1>
<ul>
  <div id="converts">
    <%= render @converts %>
  </div>
</ul>
